html,
body * {
  height: 100%;
  box-sizing: border-box;
  word-break: break-word;
}

header {
  display: block;
}

fieldset {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

input {
  min-width: 4vh;
  min-height: 4vh;
  border-radius: 5px;
  border: 1px solid #dbdada;
  width: 100%;

}

.btn-red {
  border-color: #ff0000;
  background-color: #ff0000;
  color: #ffffff;
}

.btn-right {
  float: right;
}

.txt-bold {
  font-weight: bold;
}

.header-title-block {
  display: block;
}

.parent-div-container {
  min-height: 100vh;
  background: #f5f3f3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.child-div-container {
  background-color: #ffffff;
  margin: 10px 10px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 24px rgb(55 55 55 / 25%);
  max-width: 450px;
}

.font-weight-normal {
  font-weight: normal
}

.txt-label {
  margin: 1em 0em 0.5em 0em;
}

h1 {
  font-size: 2.3em;
}

.txt {
  font-size: 1em;
  margin-block-start: 0.3em;
  margin-block-end: 0.3em;
}

.btn {
  border-radius: 5px;
  margin: 25px auto;
  padding: 10px 10px;
  min-width: 4vh;
  min-height: 4vh;
}

.form-field {
  font-size: 1em;
  margin: 1em 0em 0.5em 0em;
  font-weight: bold;
}

@media screen and (max-width: 450px) {

  .txt {
    font-size: 0.85em;
  }

  h1 {
    font-size: 1.5em;
  }

  .btn {
    min-height: 2.5vh;
  }

  .form-field {
    font-size: 0.85em;
  }
}